
/* Переменные */
:root {
    --black-color-text: #212121;
    --black-color: #000000;
    --white-color: #FFFFFF;
    --blue-color: #2196F3;
    --grey-color: #757575;
    --main-font: 'Roboto', sans-serif;
    --accent-font: 'Raleway', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Общие стили */
body {
    font-family: var(--main-font);
    background-color: var(--white-color);
    color: var(--black-color-text);
}

/* Стили верхней панели */
.header-logo {
    font-family: var(--accent-font);
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    color: var(--black-color);
}
.header a {
    text-decoration: none;
    color: inherit;  
}
.logo-blue,
.header-link:hover,
.header-link:focus,
.header-address-grey:hover,
.header-address-grey:focus,
.header .header-link-current {
    color: var(--blue-color);
}
.header-address {
    color: var(--grey-color);
}
/*  Стили контента */

/* Общее для секций */
.container {
    width: 1200px;
    margin: 0, auto;
}
/* Курсор pointer */
.cursor {
    cursor: pointer;
    background-color: #F5F4FA;
    color: var(--black-color-text);
}
.cursor:hover,
.cursor:focus {
    background-color: var( --blue-color);
    color: var(--white-color)
}



/* Стили нижней панели */
.footer {
    font-size: 14px;
    line-height: 24px;
    background-color: #2F303A;
    color: #ffffff;
}
.footer a {
    text-decoration: none;
    color: inherit;  
}
    
.footer-logo {
    font-family: var(--accent-font);
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    color: var(--white-color);
}
.footer .footer-address-white {
    color: rgba(255, 255, 255, 0.6);
}
.footer-address-white:hover,
.footer-address-white:focus {
    color: var(--blue-color);
}
