
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    color: #212121;
}

ul { 
    list-style: none;
}

a { 
    text-decoration: none;
    color: #000000;
   }

/* Стиль шапки */
/* Стиль логотипа */
.logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
}
.logo-blue {
    color: #2196F3
}
/* Стиль ссылок */
.link:hover,
.link:focus {
    color: #2196F3
}
.link.current {
    color: #2196F3
}

/*  Стиль контактов*/
.address:hover,
.address:focus {
    color: #2196F3
}

